<% if @word.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li class="text-red-500"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @word] do |f| %>
  <div class="block m-6 w-1/2">
    <%= f.label :word, "სიტყვა", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= f.text_field :word, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <div class="block m-6 w-1/2">
    <%= f.label :transliteration, "ტრანსლიტერაცია", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= f.text_field :transliteration, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <div class="block m-6 w-1/2">
    <%= f.label :english_translation, "ინგლისური თარგმანი", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= f.text_field :english_translation, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <div class="block m-6 w-1/2">
    <%= f.label :etymology, "ეტიმოლოგია", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= f.rich_textarea :etymology %>
  </div>
  <div class="block m-6 w-1/2">
    <%= f.label :note, "შენიშვნა", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= f.rich_textarea :note %>
  </div>
  <div class="block m-6 w-1/2">
    <%= f.collection_select :grammar_qualification_id, @grammars, :id, :name, { include_blank: "გრამატიკული კვალიფიკაცია" }, class: 'bg-white rounded rounded-xl p-2' %>
  </div>
  <div class="block m-6 w-1/2">
    <%= f.collection_select :stylistic_qualification_id, @stylistics, :id, :name, { include_blank: "სტილისტური კვალიფიკაცია" }, class: 'bg-white rounded rounded-xl p-2' %>
  </div>
  <div class="block m-6 w-1/2">
    <%= f.collection_select :field_qualification_id, @fields, :id, :name, { include_blank: "დარგობრივი კვალიფიკაცია" }, class: 'bg-white rounded rounded-xl p-2' %>
  </div>

  <div data-controller="explanation-form"
       class="space-y-6 mt-6">
    <div data-explanation-form-target="explanationContainer">
      <% f.object.explanations.each_with_index do |explanation, i| %>
        <%= render "explanation_fields", f: f, explanation: explanation, index: i %>
      <% end %>
      <!-- Template for new Explanation -->
      <template data-explanation-form-target="explanationTemplate">
        <%= render "explanation_fields", f: f, explanation: @word.explanations.new, index: "NEW_EXPLANATION_RECORD" %>
      </template>
    </div>
    <button
      type="button"
      data-action="click->explanation-form#addExplanation"
      class="text-blue-600 ml-8 hover:underline mt-4">
      + <%= t("admin.words.add_explanation") %>
    </button>
  </div>

  <div class="block m-6">
    <%= f.submit t('admin.words.submit'), class: "text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
