<div class="px-8 py-4 w-full md:w-1/2 inline-block">
  <div class="w-full p-8 bg-neo rounded-xl inline-block text-left restore-link-style">
    <div class="flex justify-between">
      <div class="flex border border-2 border-neo-dark gap-4 rounded rounded-2xl p-3 max-w-2/3">
        <div>
          <% match = word.word.match(/^(.*?)(\([^)]+\))(.*)$/) %>
          <% if match %>
            <p class="font-nino text-neo-dark text-3xl"><%= match[1].to_s %>
              <span class="font-nino text-neo-dark text-xl"><%= match[2].to_s %></span><%= match[3].to_s %></p>
          <% else %>
            <p class="font-nino text-neo-dark text-3xl"><%= word.word %></p>
          <% end %>
          <p class="text-neo-dark text-lg"><%= word.transliteration %></p>
        </div>
        <i class="text-green-700 text-m text-italic underline decoration-dotted" title="<%= word.grammar_qualification&.send("#{ "en_" if I18n.locale == :en }name") %>"><%= word.grammar_qualification&.send("#{ "en_" if I18n.locale == :en }short_name") %></i>
      </div>
      <p class="text-neo-dark text-2xl pl-10 pr-5"><%= word.english_translation %></p>
    </div>
    <div class="ml-8 text-green-700 text-m text-italic underline decoration-dotted">
      <% all_qualifications = word.field_qualifications + [word.stylistic_qualification].compact %>
      <% all_qualifications.each_with_index do |qualification, i| %>
        <i class="mr-1" title="<%= qualification&.send("#{ "en_" if I18n.locale == :en }name") %>">
          <%= qualification&.send("#{ "en_" if I18n.locale == :en }short_name") %>
          <%= ", " unless i == all_qualifications.size - 1 %>
        </i>
      <% end %>
    </div>

    <div class="ml-8 mt-2">
      <% if word.explanations.size > 1 %>
        <ol class="list-decimal">
          <% word.explanations.each do |exp| %>
            <li class="my-2">
              <p id="explanation"><%= highlight_qualifications(exp.value.body.to_html, @short_names_map) %></p>
              <ul id="examples" class="ml-8 mt-2 list-disc text-neo-dark">
                <% exp.examples.each do |examp| %>
                  <li><%= highlight_qualifications(examp.value.body.to_html, @short_names_map) %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ol>
      <% else %>
        <% word.explanations.each do |exp| %>
          <div class="my-2">
            <p id="explanation"><%= highlight_qualifications(exp.value.body.to_html, @short_names_map) %></p>
            <ul id="examples" class="ml-8 mt-2 list-disc text-neo-dark">
              <% exp.examples.each do |examp| %>
                <li><%= highlight_qualifications(examp.value.body.to_html, @short_names_map) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <div id="etymology" data-controller="chevron-toggle" class="mt-4">
        <button data-action="click->chevron-toggle#toggle" class="text-white px-2 py-1 bg-gradient-to-r from-neo-dark w-full flex items-center justify-left gap-2">
          <%= image_tag(
                "chevron-right-light.svg",
                class: "w-4 h-4 inline",
                data: { chevron_toggle_target: "arrow", down_src: asset_path("chevron-down-light.svg"), right_src: asset_path("chevron-right-light.svg") },
                alt: "dropdown arrow"
              ) %>
          <%= t('home.card.etymology') %>
        </button>
        <div data-chevron-toggle-target="content" class="bg-neo-light w-full rounded-b-xl pt-2 pb-4 px-8 hidden [&_a]:text-blue-600 [&_a:hover]:underline">
          <p><%= highlight_qualifications(word.etymology.body.to_html, @short_names_map) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
