<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t('admin.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/neo.png" type="image/png">
    <link rel="apple-touch-icon" href="/neo.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
  <nav class="px-8 py-4 flex items-center bg-[#e0ecf9]">
    <%= image_tag '/neo.png', class: 'h-24' %>
    <%= link_to t('admin.title'), admin_root_path, class: "ml-8 text-3xl" %>
  </nav>
  <% if flash[:notice] %>
    <div class="w-full p-2 bg-green-200 text-center">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="w-full p-2 bg-red-200 text-center">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <main>
      <%= yield %>
    </main>
  </body>
</html>
