<!DOCTYPE html>
<html class="h-full bg-gray-50">
<head>
  <title><%= content_for(:title) || "Neo Dict" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/neo.png" type="image/png">
  <link rel="apple-touch-icon" href="/neo.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-100">
<%= content_tag :p, notice, class: 'text-green-500 bg-green-200 py-2 px-4 text-center' if notice %>
<%= content_tag :p, alert, class: 'text-red-500 bg-red-200 py-2 px-4 text-center' if alert %>
<%= yield %>
</body>
</html>
